service vendor.fingerprint-nothing /vendor/bin/hw/android.hardware.biometrics.fingerprint-service.nothing
    class late_start
    user system
    group system input uhid
    shutdown critical
    task_profiles ProcessCapacityHigh MaxPerformance